body
  background-color : rgba(255, 163, 0, 0.48)

  #navbar
    color: white
    font-family : monospace
    font-size : 35pt
    background-color: #333
    text-align: center
    border-bottom: 2px orange solid

  #container
    margin : 0 auto
    width: 70%
    background: #ffa500
    margin-top: 20px
    border-radius : 15px
    box-shadow: 1px 1px 20px #333333


.container-fluid > #test > #hoverMePlease:hover
  box-shadow: 3px 3px 30px #27fc00
  cursor: pointer
  font-weight: bold

$hover: #27fc00
$border-width: 4px


#boutton
  background: none
  border: none
  width: 200px
  height: 50px
  backface-visibility: hidden
  padding: 1em 2em
  padding-left: 10px
  margin-bottom: 20px
  margin-top: 20px
  font-size: 10pt
  font-weight: 600
  letter-spacing: .05em
  text-transform: uppercase
  color: #F5F5F5
  transition: color .2s
  box-shadow: inset 0 0 0 $border-width #F5F5F5, 0 0 1px 1px rgba(black,.25)
  text-shadow: 0 0 2px rgba(black,.5)
  position: relative
  overflow: hidden
  cursor: pointer!important

  &:before, &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: $border-width solid transparent
    transition: transform .3s ease
    pointer-events: none
    box-sizing: border-box

  &:before
    border-color: $hover transparent
    transform: skewX(-90deg)

  &:after
    border-color: transparent $hover
    transform: skewY(40deg)
    transition: transform .4s

  &:hover
    color: $hover
    &:before, &:after
      transform: none

